body{
  background: url(http://www.zingerbugimages.com/backgrounds/purple_starry_sky_glitter_background_seamless.gif);
  background-size: cover;
  background-size: cover;
  height: 100vh;
  padding:0;
  margin:0;
}

img {
  border: 5px solid #ffff00;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #892CDC;
  border-style: solid;
  float: center;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 44px; 
  border-radius: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-stretch: expanded;
}

h2 {
  color: #52057B;
  border-style: solid;
  float: center;
  color: white;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#quiz  {
  color: white; 
  float: inherit;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 26px;
  font-weight: 500;

}

.button {
  background-color: #892CDC;
  border-radius: 15px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#after_submit {
  visibility: hidden;
  float: inline-end;
  color: white;
}
#number_choice {
  color: white;
}
