body{
  background-color: #000000;
  padding: 10px;
}

img {
  border: 5px solid #ffff00;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #892CDC;
}

h2 {
  color: #BC6FF1;
}

p {
  color: white;
  font-size: 20px;
}

#quiz2 {
  color: white;
}

aside {
  width: 50%;
  padding-left: 1px;
  margin-left: 1px;
  float: right;
}

#button {
  background-color: #892CDC;
  border-radius: 15px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#after_submit {
  visibility: hidden;
}

#GD {
  visibility: hidden;
}
#HD {
  visibility: hidden;
}
#RD {
  visibility: hidden;
}
#SD {
  visibility: hidden;
}