body{
  background-color: #BC6FF1;
  background-size: cover;
}

img {
  border: 5px solid #ffff00;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #892CDC;
}

h2 {
  color: #52057B;
}

.button {
  background-color: #892CDC;
  border-radius: 15px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#after_submit {
  visibility: hidden;
}

