* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100%;
  background-color: #C2C2FF; 
}
header {
  display: flex;
  width: 100%;
  height: 10%;
  background: #9999ff;
  align-items: center;
  justify-content: center;
  top: 0;
}
.navLinks {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #737FA5;
  padding: 3vw;
}
a.navLinks:visited {
  color: white;
}
a.navLinks:hover {
  color: white;
}
h1 {
	text-align: center;
	text-decoration: underline;
	color: #B38888;
	font-family: Montserrat, Helvetica, Arial;
	font-size: 32px;
}
h2 {
	color: #737FA5;
	font-family: Montserrat, Helvetica, Arial;
  	font-size: 22px;
}
h3 {
  text-decoration: underline;
  color: blue;
  font-family: Montserrat, Helvetica, Arial;
  font-size: 20px;
}
h4 {
  color: #C58282;
  font-family: Montserrat, Helvetica, Arial;
  font-size: 16px;
}
h5 {
  color: #737FA5;
  font-family: Montserrat, Helvetica, Arial;
    font-size: 22px;
}
.grid-container {
  display: grid;
  grid-gap: 50px 100px;
  grid-template-columns: auto auto auto;
  background-color: #c2c2ff;
  padding: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.gird-item {
  background-color: #c2c2ff;
  font-size: 30px;
  text-align: center;
}
.grid-container2 {
  display: grid;
  grid-gap: 60px;
  grid-template-columns: auto auto;
  background-color: #ffffc2;
  padding: 45px;
}
.grid-items {
  background-color: #ffffc2;
  border: 20px solid;
  border-color: #ffffc2;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.Questions{
  padding-left: 20px;
  padding: 1%;
  background-color: #ffffc2;
}

.first {
text-align: left;
border-style: ridge;
padding-left: 2%;
width: 85%;
background-color: #D6D6FF;
}

.second {
text-align: right;
margin-left: 15%;
border-style: ridge;
padding-right: 2%;
width:85%;
background-color: #D6D6FF;
}

.third {
text-align: left;
border-style: ridge;
padding-left: 2%;
width: 85%;
background-color: #D6D6FF;
}