body {
	background-color: #B98EA7;
}
h1 {
	text-align: center;
	text-decoration: underline;
	color: #120D31;
	font-family: Montserrat, Helvetica, Arial;
	font-size: 32px;
}
h2 {
	text-align: center;
	color: #302F4D;
	font-family: Montserrat, Helvetica, Arial;
	font-size: 20px;
}
.grid-container {
  display: grid;
  grid-gap: 50px 100px;
  grid-template-columns: auto auto auto;
  background-color: #B98EA7;
  padding: 10px;
}
.grid-item {
  background-color: #F0D3F7;
  border: 5px solid;
  border-color: #F0D3F7
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
