body {
  margin: 0;
	height: 100%;
  background-color: #B98EA7; 
}
header {
  display: flex;
  width: 100%;
  height: 10%;
  background: #F0D3F7;
  align-items: center;
  justify-content: center;
  top: 0;
}
.navLinks {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #A57982;
  padding: 3vw;
}
a.navLinks:visited {
  color: #383131;
}
a.navLinks:hover {
  color: white;
}
h1 {
	text-align: center;
	text-decoration: underline;
	color: #120D31;
	font-family: Montserrat, Helvetica, Arial;
	font-size: 32px;
}
h2 {
	text-align: center;
	color: #302F4D;
	font-family: Montserrat, Helvetica, Arial;
  font-size: 22px;
  padding-left: 1%;
  padding-right: 1%;
}
h3 {
  text-align: center;
  color: #302F4D;
  font-family: Montserrat, Helvetica, Arial;
  font-size: 12px;
}
h4 {
  text-align: center;
  color: #F0D3F7;
  font-family: Montserrat, Helvetica, Arial;
  font-size: 20px;
  text-decoration: underline;
}
h5 {
  text-align: center;
  color: #302F4D;
  font-family: 'Dancing Script', Arial;
  font-size: 22px;
}
h6 {
  font-size:20px;
  text-align: center;
}
p {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  font-size: 18px;
  font-family: Arial;
}
.grid-container {
  display: grid;
  grid-gap: 50px 100px;
  grid-template-columns: auto auto auto;
  background-color: #B98EA7;
  padding: 5px;
}
.grid-item {
  background-color: #F0D3F7;
  border: 5px solid;
  border-color: #F0D3F7
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.grid-contain {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #F0D3F7;
  padding: 10px;
}
.grid-thing {
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}
.button {
  background-color: #302F4D;
  border: none;
  color: white;
  padding: 25px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
}
.grid-container2 {
  display: grid;
  grid-gap: 60px;
  grid-template-columns: auto auto;
  background-color: #B98EA7;
  padding: 45px;
}
.grid-items {
  background-color: #F0D3F7;
  border: 20px solid;
  border-color: #F0D3F7
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
#after_submit {
  visibility: hidden;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
fieldset{
  text-align: center;
}
@media screen and (max-width: 800px) {
  .grid-item {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .grid-thing {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .grid-items {
    width: 100%;
  }
}